html, body{
    height: 100%;
    width: 100%;

}

.button{

    width: 55px;
    padding: 20px;
    margin: 3px 3px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.row{
    margin: 8px 0;
}

.row input{
    margin:0px;
    padding: 17px 23px;
    border: 2px solid black;
    border-radius: 5px;
}